<h1 style="padding-left: 20px; padding-top:48px;" class="dash-title">Dashboard</h1>

<div class='other-teams container'>
  <h3 class='your-teams mb-3'>Teams</h3>
  <ol class='team-list'>
    {{#each teams as |team|}}
      {{> team-info team}}
    {{/each}}
  </ol>
</div>

<script src='/javascript/teamView.js'></script>