<h1>homepage test</h1>

{{#each teamMembers as |teamMember|}}
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{teamMember.first_name }}</td>
      <td>{{teamMember.last_name}}</td>
      <td>{{teamMember.sports_team_name}}</td>
      <td class="text-end">

          <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> View</a>
          <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> Delete</a>
          <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Edit</a>

      </td>
    </tr>
    
  </tbody>
</table>
{{/each}}