<div class='container'>
    <h3 class='mt-4'>{{team.team_name}}</h3>
    <h5>Type: {{team.team_type}}</h5>
    <h5 class='mb-3'>Owner: {{team.user.username}}</h5>
    <div class='row'>
        <p class='col-9'>Votes: {{team.vote_count}}</p>
        <button type="button" class="col-2 upvoteBtn">UpVote</button>
    </div>
    {{> team-member team.team_members}}
</div>
<div class='container'>
    <h5>Comments</h5>
    <form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
    </form>
    {{> comments team.comments}}
</div>

<script src='/javascript/upvote.js'></script>
<script src='/javascript/comment.js'></script>